/* .footer {
    width: 100%;
    background-color: #000;
    color: #eee;
    padding: 3rem 1rem;
}

.footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: space-evenly;
}

.footer li {
    padding: 1rem;
}

.footer li a {
    color: #fff;
}

.footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.bottom {
    text-align: center;
    padding-top: 3rem;
}

.line {
    margin-bottom: 1rem;
}




 */


 .footer {
    margin-top: 25px;
    padding: 50px;
    background-color: black;
    color: #ca046b;
    
  }
  
  .footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-evenly;
    
  }
  
  .footerColumn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }
  
  .columnTitle {
    font-size: x-large;
    font-weight: bold;
    color: #fff;
  }
  
  .columnText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
  }
  
  .columnTextItem a {
    color: #ca046b;
    list-style-type: none;
  }
  
  .newsletterEmailInput {
    height: 25px;
    padding: 25px;
    outline: none;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  span .newsletterEmailSubmit {
    /* height: 25px; */
    padding: 18px;
    z-index: 20px;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10%;
    background-color: #ca046b;
    color: #fff;

  }
  
  .newsletterEmailSubmit:hover {
    cursor: pointer;
  }
