/* .footer {
    width: 100%;
    background-color: #000;
    color: #eee;
    padding: 3rem 1rem;
}

.footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer li {
    padding: 1rem;
}

.footer li a {
    color: #fff;
}

.footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.bottom {
    text-align: center;
    padding-top: 3rem;
}

.line {
    margin-bottom: 1rem;
}
 */


.form-group {

    margin-bottom: 24px;
    font-family: "Merriweather", serif;
}

.form-group input,
contact .form-group textarea {
    padding: 17px;
}

.contact{
    height: 100%;
    background-image: url(./../images/food.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control-msg{
    margin-top: 7px;
    height: 230px;
    width: 600px;
    border-radius: 5px;
}
.col-lg-12{
    margin-top: 110px;
}
.section-heading{
    margin-top: 20px;
    color:black;
    text-transform: uppercase;
    font-family: "Merriweather", serif;

}
.button:hover{
    background: lightpink;
}
