.hero {
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.slide {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    
   }

.slide-info {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 280px; 
    background: #111;
    border: 2px solid #1e1e1e; 
    opacity: 0.7;
    padding: 8px;
    border-radius: 5px;
}

.slide-info p{
    font-size: .8em;
    line-height: 1.5em;
}

.slide-info span {
    margin-top: 15px;
    display: block;
}
    
   .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    animation: slider 12.5s infinite;
   }
    
   .slider .slide:nth-child(1) {
      background-image: url('./images/ladiesgate.jpg');
      animation-delay: 0s;
   }
   
   .slider .slide:nth-child(2) {
      background-image: url('./images/doctor.jpg');
      animation-delay: -2.5s;
   }
   
   .slider .slide:nth-child(3) {
      background-image: url('./images/babumentor.jpg');
      animation-delay: -5s;
   }
   
   .slider .slide:nth-child(4) {
      background-image: url('./images/kidschool.jpg');
      animation-delay: -7.5s;
   }
   
   .slider .slide:nth-child(5) {
      background-image: url('./images/beveandnun.jpg');
      animation-delay: -10s;
   }
   
.slider .slide:nth-child(6) {
   background-image: url('./images/healthcamp.jpg');
   animation-delay: -10s;
}

   
.slider .slide:nth-child(7) {
   background-image: url('./images/babupeople.jpg');
   animation-delay: -10s;
}
   
   @keyframes slider {
    0%, 16%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    96% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
   }

/* .hero .content:before {
    content: '';
    background: url('./images/doctor.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

.hero .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.hero .content p:first-child {
    font-style: italic;
    font-size: .9rem;
}

.hero .content p:nth-child(2) {
    font-size: 1.9rem;
}

.hero .content p:nth-child(3) {
    font-size: 5rem;
    font-weight: 700;
}


.hero .content p:nth-child(4) {
    font-size: 2.2rem;
    font-style: italic;
}

.hero .button {
    margin: 1rem 0;
    width: 300px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #333;
}

.hero .button:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}

@media screen and (max-width:940px) {
    .hero .content p:nth-child(3) {
        font-size: 2.6rem;
    }

    .hero .content p:nth-child(4) {
        font-size: 1.6rem;
    }
}










