header {
    display: flex;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    /* background: #e1e1e1; */
    align-items: center;
}

.nav-wrapper {
   margin-left: auto;
   display: flex;
}

nav a {
    padding: 5px;
    margin: 0 5px;
    font-size: 1em;
    color: #111;
    text-decoration: none;
}

nav a.active {
  color: sandybrown;
   border-radius: 3px;
}


.btn-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.btn-container button {
    padding: 8px 10px;
    border: none;
    outline: none;
    background: sandybrown;
    color: #fff;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.5s linear;
}

.btn-container button:hover {
    background: #111;
}

.brand a img {
    max-width: 200px;
}

/* .header .nav-menu a {
    color: #ca046b;
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid #7171ff;
}
.logo, img{
    margin-right: 200px;

} */

.hamburger {
    display: none;
}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,.9);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
        color: #ca046b;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}
















